@import "../styles/variables.scss";

.header {
  color: $primary;
  font-size: $extra-large;
}

.wrapper {
  padding: 20rem;
  height: 100vh;
  background-color: $secondary;
}

.link {
  font-size: 5rem;
  color: $primary;
}
